body {
  font: 11px sans-serif;
}
rect {
  fill: steelblue;
}

rect:hover {
  fill-opacity: .7;
}
/* Style for Custom Tooltip */
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 70px;                  
  height: 35px;                 
  padding: 8px;             
  font: 14px sans-serif;        
  background: white;   
  border: 10px;      
  border-radius: 8px;           
  pointer-events: none;         
}